@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.audio {
    margin: 80px;
    text-align: center;
}

#diver {
    width: 400px;
    height: 600px;
    overflow: hidden;
    border: solid 1px rgb(202, 202, 202);
    border-bottom: solid 4px rgb(116, 116, 116);
}

.svg {
    padding: 20px;
    text-align: center;
}

.gray {
    margin: 30px;
    color: rgb(86, 86, 86);
}

.pic {
    overflow: hidden;
    height: 300px;
}

.title {
    text-align: center;
}

#diver img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#diver img:hover {
    transition: 0.5s;
    transform: scale(1.4);
}

h1 {
    font-family: Gilroy-Bold;   
    text-align: center;
    margin: 15px;
}